@font-face {
  font-family: 'Jura';
  src: url('/fonts/Jura.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DelaGothicOne';
  src: url('/fonts/DelaGothicOne.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #e9e9e5;
  font-family: 'Jura', 'Yu Gothic';
}

h1,
h2,
h3,
h4 {
  font-family: 'DelaGothicOne', 'Meiryo';
}
