---
import Scaffold from "../layouts/Scaffold.astro";
return Astro.redirect('/en/');
---

<Scaffold title="Redirecting | Shotaro">
  <div class="w-screen h-screen">
    <p>Redirecing...</p>
  </div>
</Base>
