<footer>
  <div class="pt-5 pb-96 bg-light-black">
    <p class="ml-5 text-primary">
      Image by <a
        href="https://www.freepik.com/free-psd/black-white-love-web-template_15519368.htm#&position=2&from_view=user"
        >Freepik</a
      >
    </p>
  </div>
</footer>
