<header class="fixed top-0 mix-blend-difference">
  <menu class="text-primary">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul>
            <li><a href="{{ route('home') }}">Home</a></li>
            <li><a href="{{ route('posts.index') }}">Posts</a></li>
            <li><a href="{{ route('posts.create') }}">New Post</a></li>
          </ul>
        </div>
      </div>
    </div>
  </menu>
</header>
