---
import { languages } from '../i18n/ui';
import { getLangFromUrl, useTranslatedPath } from '../i18n/utils';

const currentLang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(currentLang);
---

<header
  class="w-full z-50 fixed top-0 text-primary mix-blend-difference flex flex-wrap flex-row justify-between px-10 py-6"
>
  <nav class="md:hidden">
    <ul class="flex flex-row text-xl font-bold">
      <li>
        <a href={translatePath('/')} class=""> Home</a>
      </li>
      <li>
        <a href={translatePath('/about')} class="pl-8"> About</a>
      </li>
      <li>
        <a href={translatePath('/projects')} class="pl-8"> Projects</a>
      </li>
    </ul>
  </nav>
  <ul class="flex flex-row text-xl underline-offset-4 divide-x-2">
    {
      Object.entries(languages).map(([lang, label]) => (
        <li class="px-2">
          <a
            href={`/${lang}`}
            class={`${currentLang === lang ? 'underline' : ''}`}
          >
            {label}
          </a>
        </li>
      ))
    }
  </ul>
</header>
