---
interface Props {
  text: string;
  className?: string;
}

const { text, className = '' } = Astro.props;
---

<h1 class=`text-left text-5xl font-extrabold md:text-6xl ${className}`>
  {text}
</h1>
