---
import Signboard from './Signboard.astro';

interface Props {
  title: string;
  height?: string;
  width?: string;
}

const { title, height = '8rem', width = '19rem' } = Astro.props;
const signboardTopHeight = '4rem';
---

<div class="edge group">
  <div class="forward">
    <Signboard title={title} titleHeight={signboardTopHeight}>
      <slot />
    </Signboard>
  </div>
  <div class="behind">
    <Signboard titleHeight={signboardTopHeight} />
  </div>
  <img
    src="/images/blob_gummy.svg"
    alt="gummy"
    class="absolute -bottom-2 -right-4 z-30 group-hover:rotate-6 translate ease-out duration-300"
  />
</div>

<style
  define:vars={{
    'edge-height': height,
    'edge-width': width,
  }}
>
  .edge {
    position: relative;
    height: var(--edge-height);
    width: var(--edge-width);
    transition: all 0.3s ease-out;
  }
  .edge:hover {
    height: calc(var(--edge-height) + 0.25rem);
    width: calc(var(--edge-width) + 0.25rem);
  }
  .forward {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    height: calc(var(--edge-height) - 1rem);
    width: calc(var(--edge-width) - 1rem);
  }
  .behind {
    position: absolute;
    z-index: 10;
    bottom: 0;
    right: 0;
    height: calc(var(--edge-height) - 1rem);
    width: calc(var(--edge-width) - 1rem);
  }
</style>
