---
import Signboard from './Signboard.astro';

interface Props {
  title: string;
  description: string;
}


const { title, description } = Astro.props;
const signboardTopHeight = "4rem";
---

<div class="edge group">
  <div class="forward">
    <Signboard title={title} titleHeight={signboardTopHeight} />
  </div>
  <div class="behind">
    <Signboard titleHeight={signboardTopHeight} />
  </div>
  <img src="/images/blob_gummy.svg" alt="gummy" class="absolute -bottom-2 -right-4 z-30 group-hover:rotate-6 translate ease-out duration-300"/>
</div>

<style>
  .edge {
    position: relative;
    width: 19rem;
    height: 21rem;
    transition: all 0.3s ease-out;
  }
  .edge:hover {
    width: 19.25rem;
    height: 21.25rem;
  }
  .forward {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    width: 18rem;
    height: 20rem;
  }
  .behind {
    position: absolute;
    z-index: 10;
    bottom: 0;
    right: 0;
    width: 18rem;
    height: 20rem;
  }
</style>
