---
import type { GetStaticPaths } from 'astro';
import Generic from '../../layouts/Generic.astro';
import Contacts from '../../components/Contacts.astro';
import Subheadline from '../../components/Subheadline.astro';
import {
  getLangFromUrl,
  translateUrl,
  useTranslations,
} from '../../i18n/utils';

export const getStaticPaths = (() => {
  return [{ params: { lang: 'en' } }, { params: { lang: 'ja' } }];
}) satisfies GetStaticPaths;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Generic title={t('about.title')} headline="About me.">
  <div class="mt-10 md:w-full">
    <div class="md:flex md:flex-row-reverse md:items-center">
      <div class="relative h-80 md:w-1/3 md:flex md:space-x-8 md:justify-end">
        <div
          class="absolute z-10 translate-x-1/2 translate-y-1/2 -left-20 top-28 md:inset-0 md:relative"
        >
          <Contacts width="12rem" />
        </div>
        <img
          src="/images/me.svg"
          alt="me"
          class="absolute h-80 translate-x-1/2 left-40 md:inset-0 md:relative"
        />
      </div>
      <div class="md:w-2/3">
        <p class="mt-10 md:mt-0">
          {t('about.introduction')}
        </p>
        <a href="#" class="block mt-4 underline-offset-2 line-through"
          >{t('about.downloadCV')}</a
        >
      </div>
    </div>

    <a href="#first-steps">
      <img
        src="/images/icons/south.svg"
        alt="next"
        class="mt-14 mx-auto animate-bounce md:mt-40"
      />
    </a>

    <div id="first-steps" class="pt-40 md:w-1/2">
      <Subheadline text={t('about.firstSteps')} />
      <p class="mt-4 whitespace-break-spaces break-words">
        {t('about.firstSteps.description')}
      </p>
    </div>
    <div class="mt-60 md:w-1/2 md:ml-auto md:mt-80">
      <Subheadline text={t('about.myExperience')} />
      <p class="mt-4 whitespace-break-spaces break-words">
        {t('about.myExperience.description')}
      </p>
    </div>
    <div class="mt-60 mb-20 md:w-1/2 md:mt-80">
      <Subheadline text={t('about.techStack')} />
      <p class="mt-4 whitespace-break-spaces break-words">
        {t('about.techStack.description')}
      </p>
    </div>
  </div>
</Generic>
