---
import type { GetStaticPaths } from "astro";
import Base from '../../layouts/Base.astro';
import BlackButton from '../../components/BlackButton.astro';
import PrimaryButton from '../../components/PrimaryButton.astro';
import StackedSignboard from '../../components/StackedSignboard.astro';

export const getStaticPaths = (() => {
  return [
    { params: { lang: 'en' } },
    { params: { lang: 'ja' } },
  ];
}) satisfies GetStaticPaths;
---

<Base title="Shotaro Nakata's Portfolio">
  <div
    class="relative h-screen overflow-hidden"
    style="background-image: url(/images/paper-texture.png)"
  >
    <main
      class="max-w-lg absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
    >
      <h1 class="text-center text-6xl font-extrabold">Hi!<br />I'm Shotaro.</h1>
      <div class="h-8"></div>
      <p>
        I am a front-end developer with a passion for building user friendly and
        performant SPAs and JAMstack sites.
      </p>
      <div class="h-8"></div>
      <div class="flex justify-between">
        <BlackButton>Who am I?</BlackButton>
        <a href="/projects">
          <PrimaryButton>Discover my projects.</PrimaryButton>
        </a>
      </div>
    </main>
    <div class="absolute left-40 bottom-40">
      <StackedSignboard
        title="Contacts"
        description="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
      />
    </div>
    <img
      src="/images/me.svg"
      alt="me"
      class="absolute -z-10"
      style="right: 200px; top: 0; bottom: 0; margin: auto;"
    />
    <img
      src="/images/top_gummy.svg"
      alt="top_gummy"
      class="absolute -z-10"
      style="top: -800px; left: -540px;"
    />
    <img
      src="/images/middle_gummy.svg"
      alt="middle_gummy"
      class="absolute -z-10"
      style="right: -540px; bottom: -550px;"
    />
  </div>
</Base>
