---
import type { GetStaticPaths } from 'astro';
import BlackButton from '../../components/BlackButton.astro';
import Contacts from '../../components/Contacts.astro';
import PrimaryButton from '../../components/PrimaryButton.astro';
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from '../../i18n/utils';
import Base from '../../layouts/Base.astro';

export const getStaticPaths = (() => {
  return [{ params: { lang: 'en' } }, { params: { lang: 'ja' } }];
}) satisfies GetStaticPaths;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<Base title={t('home.title')}>
  <div
    class="min-h-screen overflow-hidden animate-fade-in-2000 md:h-screen md:relative"
  >
    <main
      class="w-full mt-48 px-4 md:absolute md:max-w-lg md:top-1/2 md:left-1/2 md:transform md:-translate-x-1/2 md:-translate-y-1/2 md:mt-0"
    >
      <h1
        class="text-center text-5xl font-extrabold animate-fade-in-2000 md:text-6xl whitespace-break-spaces"
      >
        {t('home.greeting')}
      </h1>
      <div class="h-4 md:h-8"></div>
      <p class="max-w-lg px-4 md:px-0">
        {t('home.introduction')}
      </p>
      <div class="h-16 md:h-8"></div>
      <div
        class="flex flex-col items-center space-y-4 md:flex-row md:justify-between md:space-y-0"
      >
        <a href={translatePath('/about')} class="animate-bounce-light-1500">
          <BlackButton>{t('home.whoAmI')}</BlackButton>
        </a>
        <a href={translatePath('/projects')} class="animate-bounce-light-2000">
          <PrimaryButton>{t('home.discoverMyProjects')}</PrimaryButton>
        </a>
      </div>
      <div class="h-16 md:hidden"></div>
    </main>
    <div
      class="flex justify-center mb-16 md:absolute md:left-40 md:bottom-40 md:mb-0"
    >
      <Contacts />
    </div>
  </div>
  <div
    class="absolute -z-10 top-0 h-full w-full overflow-hidden animate-fade-in-2000"
  >
    <img
      src="/images/me.svg"
      alt="me"
      class="hidden absolute -z-10 md:block"
      style="right: 200px; top: 0; bottom: 0; margin: auto;"
    />
    <img
      src="/images/middle_gummy.svg"
      alt="middle_gummy"
      class="hidden absolute -z-10 overflow-hidden md:block"
      style="right: -540px; bottom: -550px;"
    />
  </div>
</Base>
