---
import Footer from '../components/Footer.astro';
import Header from '../components/Header';
import { getLangFromUrl } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);

export interface Props {
  title: string;
  bodyClasses?: string;
}

const { title, bodyClasses = '' } = Astro.props;
---

<!doctype html>
<!-- TODO: Add ja to lang -->
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- TODO: Implement favicon -->
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <img src="/images/top_gummy.svg" alt="top_gummy" class="top-gummy" />

    <Header client:only />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: 'Jura';
    src: url('/fonts/Jura.ttf');
  }

  @font-face {
    font-family: 'DelaGothicOne';
    src: url('/fonts/DelaGothicOne.ttf');
  }

  :root {
    --primary-color: #e9e9e5;
  }

  html {
    background-color: var(--primary-color);
    height: 100vh;
    font-family: 'Jura', 'Yu Gothic';
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  body {
    position: relative;
    background-image: url(/images/paper-texture.png);
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: 'DelaGothicOne', 'Meiryo';
  }
  p {
    font-size: 16px;
  }

  .top-gummy {
    position: absolute;
    z-index: -10;
    top: -180px;
    left: -100px;
  }

  @media (min-width: 768px) {
    .top-gummy {
      top: -900px;
      left: -600px;
    }
  }
</style>
