---
import Headline from '../components/Headline.astro';
import Base from './Base.astro';

interface Props {
  title: string;
  headline: string;
}

const { title, headline } = Astro.props;
---

<Base title={title}>
  <main class="relative w-full px-4 pt-40 md:px-20 md:pt-80">
    <Headline headline={headline} />
    <slot />
  </main>
</Base>
