---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<!-- TODO: Add ja to lang -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- TODO: Implement favicon -->
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
  <foooter>
    <div class="pt-5 pb-5 bg-light-black">
      <p class="ml-5 text-primary">
        Image by <a
          href="https://www.freepik.com/free-psd/black-white-love-web-template_15519368.htm#&position=2&from_view=user"
          >Freepik</a
        >
      </p>
    </div>
  </foooter>
</html>

<style is:global>
  @font-face {
    font-family: 'Jura';
    src: url('/fonts/Jura.ttf');
  }

  @font-face {
    font-family: 'DelaGothicOne';
    src: url('/fonts/DelaGothicOne.ttf');
  }

  :root {
    --primary-color: #e9e9e5;
  }

  html {
    background-color: var(--primary-color);
    height: 100vh;
    font-family: 'Jura', 'Yu Gothic';
  }

  body {
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: 'DelaGothicOne', 'Meiryo';
  }
  p {
    font-size: 16px;
  }
</style>
